<%- include('./partials/head') %>
    <%- include('./partials/nav') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam a atque, tenetur aliquam alias mollitia perferendis ullam incidunt neque facilis maiores, aperiam eos! Mollitia maxime perferendis alias natus, molestias ullam repellat, quibusdam nemo omnis placeat ut recusandae, iste voluptas nesciunt labore quam repudiandae ea sed? Consequuntur tenetur sunt cumque.</p>
        <p>Recusandae veniam unde ad illo ipsam nisi suscipit, modi quo temporibus error reprehenderit praesentium magnam, voluptatem natus. Porro, possimus magnam nihil fugit voluptatum, voluptatem ducimus facere reiciendis fugiat tempore a aperiam aliquam iusto vel accusantium rem delectus totam odit perferendis autem distinctio dolore. Numquam dignissimos fugiat, porro libero repellat ipsa.</p>
        <p>Voluptatibus, voluptates. Quas, vero! Fugiat odit repellat cum, esse sed, maiores maxime magni delectus culpa excepturi molestiae obcaecati quae iure, inventore tempora. Voluptatum fugit molestias error magnam recusandae facere quia vitae assumenda esse enim odio sunt atque quisquam deleniti non suscipit dolore ex neque excepturi asperiores iste, eaque, nihil quos.</p>
    </div>
<%- include('./partials/footer') %>